@model IEnumerable<Locator.Models.Locations>
@*@model IEnumerable<Locator.ViewModels.LocationsViewModel>*@


@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>
<script src="~/js/location.js"></script>

@*<script type="text/javascript">
    getLocation()
</script>*@


<!--
    main row is split into three columns
        left-nav        :   Filter-Search Parameters
        center-index    :   Houses the Map
        right-sidebar   :   Location Cards
 -->
<div class="container-fluid">
    <div class="row" id="main-row">
        <div class="col-xs-12 col-md-3" id="filter-wrapper">
            <h3 id="filter-head">Refine by</h3>
            <div class="text-left" id="filterSearch-wrapper">
                <div class="accordion panel"></div>
                <div class="accordion panel"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="center-index">
            <div class="col-12 text-center" id="mapBlock">
                <h1 class="text-justify" style="width: 100%" ;>Map Goes Here</h1>
                <div class="d-block" id="map-wrapper" style="position: relative; overflow: hidden;"></div>
                <div id="directionsPanel"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3" id="sidebar-wrapper">
            <h3 id="sidebar-head">ATM Nearby</h3>
            <div class="col-12" id="cards-wrapper">
                @*@foreach (var card in Model)*@
                @foreach(var card in Model)
                {
                    @*<p>@card.Name</p>*@

                    <div class="accordion card" id="id-@card.LocationID">
                        <div class="card-header" id="heading-@card.LocationID">
                            <a href="#" class="btn-link" id="button-@card.LocationID" data-toggle="collapse" data-target="#collapse-@card.LocationID" aria-expanded="false" aria-controls="collapse-@card.LocationID">
                                <span class="cardTitleBox">
                                    <i class="fas fa-minus"></i><i class="fas fa-plus"></i>
                                    <span class="card-title card-name">@card.Name</span>
                                </span>
                            </a>
                            <p class="address" value="@card.Address">@card.Address</p>
                        </div>
                        <div class="collapse in" id="collapse-@card.LocationID" aria-expanded="false">
                            <div class="card-body">
                                <div class="card-subtitle">
                                    <p class="subTitle @(card.Hours ?? "empty")" value="@(card.Hours ?? "Unknown")">@(card.Hours ?? "Unknown")</p>
                                    <p class="subTitle @(card.RetailOutlet ?? "empty")" value="@(card.RetailOutlet ?? "Unknown")">@(card.RetailOutlet ?? "Unknown")</p>
                                    <p class="subTitle @(card.SpecialQualities.InstallationType ?? "empty")" value="@(card.SpecialQualities.InstallationType ?? "Unknown")">@(card.SpecialQualities.InstallationType ?? "Unknown")</p>
                                    <p class="subTitle @(card.SpecialQualities.AccessNotes ?? "empty")" value="@(card.SpecialQualities.AccessNotes ?? "Unknown")">Notes: @(card.SpecialQualities.AccessNotes ?? "Unknown")</p>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item @(card.SpecialQualities.HandicapAccess ?? "empty")" value="@(card.SpecialQualities.HandicapAccess ?? "Unknown")">Handicap Access: @(card.SpecialQualities.HandicapAccess ?? "Unknown")</li>
                                    <li class="list-group-item @(card.SpecialQualities.DriveThruOnly ?? "empty")" value="@(card.SpecialQualities.DriveThruOnly ?? "Unknown")">Drive Thru Only: @(card.SpecialQualities.DriveThruOnly ?? "Unknown")</li>
                                    <li class="list-group-item @(card.SpecialQualities.Surcharge ?? "empty")" value="@(card.SpecialQualities.Surcharge ?? "Unknown")">Surcharge: @(card.SpecialQualities.Surcharge ?? "Unknown")</li>
                                    <li class="list-group-item @(card.SpecialQualities.AcceptDeposit ?? "empty")" value="@(card.SpecialQualities.AcceptDeposit ?? "Unknown")">Accepts Deposits: @(card.SpecialQualities.AcceptDeposit ?? "Unknown")</li>
                                    <li class="list-group-item @(card.SpecialQualities.AcceptCash ?? "empty")" value="@(card.SpecialQualities.AcceptCash ?? "Unknown")">Accepts Cash: @(card.SpecialQualities.AcceptCash ?? "Unknown")</li>
                                    <li class="list-group-item @(card.SpecialQualities.Cashless ?? "empty")" value="@(card.SpecialQualities.Cashless ?? "Unknown")">Cashless: @(card.SpecialQualities.Cashless ?? "Unknown")</li>
                                    <li class="list-group-item @(card.SpecialQualities.SelfServiceDevice ?? "empty")" value="@(card.SpecialQualities.SelfServiceDevice ?? "Unknown")">Self Service Device: @(card.SpecialQualities.SelfServiceDevice ?? "Unknown")</li>
                                    <li class="list-group-item @(card.SpecialQualities.SelfServiceOnly ?? "empty")" value="@(card.SpecialQualities.SelfServiceOnly ?? "Unknown")">Self Service Only: @(card.SpecialQualities.SelfServiceOnly ?? "Unknown")</li>
                                    <li class="list-group-item @(card.SpecialQualities.OnMilitaryBase ?? "empty")" value="@(card.SpecialQualities.OnMilitaryBase ?? "Unknown")">On Military Base: @(card.SpecialQualities.OnMilitaryBase ?? "Unknown")</li>
                                    <li class="list-group-item @(card.SpecialQualities.MilitaryIdRequired ?? "empty")" value="@(card.SpecialQualities.MilitaryIdRequired ?? "Unknown")">Military ID Required: @(card.SpecialQualities.MilitaryIdRequired ?? "Unknown")</li>
                                    <li class="list-group-item @(card.SpecialQualities.RestrictedAccess ?? "empty")" value="@(card.SpecialQualities.RestrictedAccess ?? "Unknown")">Restricted Access: @(card.SpecialQualities.RestrictedAccess ?? "Unknown")</li>
                                </ul>
                            </div>
                            <div class="card-footer contactInfo">
                                <h4 class="card-title contactInfoHeader">Contact Information</h4>
                                <p class="name @card.Name" value="@card.Name">@card.Name</p>
                                <p class="address @card.Address" value="@card.Address">@card.Address</p>
                                <p class="city-state-zip">
                                    <span class="city @card.City" value="@card.City">@card.City</span>
                                    <span>, </span>
                                    <span class="state @card.State" value="@card.State">@card.State </span>
                                    <span class="postalCode @card.PostalCode" value="@card.PostalCode">@card.PostalCode</span>
                                </p>

                                @******* TODO: Debug: Phone and WebAddress give ERROR: Object reference not set to an instance of an object - Issue in Contacts Model or DB Table ? *********@

                                @*<p class="phone @(card.Contacts.Phone ?? "empty")" value="@(card.Contacts.Phone ?? "empty")">Phone: @(card.Contacts.Phone ?? "empty")</p>
                                <p class="webAddress @(card.Contacts.WebAddress ?? "empty")" value="@(card.Contacts.WebAddress ?? "empty")">@(card.Contacts.WebAddress ?? "empty")</p>*@


                                <p class="lat @card.Latitude" value="@card.Latitude">Latitude: @card.Latitude</p>
                                <p class="lng @card.Longitude" value="@card.Longitude">Longitude: @card.Longitude</p>
                                <blockquote class="blockquote my-1 pt-1">
                                    <h5 class="blockquote-footer locationType" value="@card.LocationType">
                                        Location Type: <cite title="@card.LocationType">@card.LocationType</cite>
                                    </h5>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>