@model IEnumerable<Locator.Models.Locations>

@{
    ViewData["Title"] = "Index";
}

<!--
    main row is split into three columns
        left-nav        :   Filter-Search Parameters
        center-index    :   Houses the Map
        right-sidebar   :   Location Cards
 -->
<div class="container-fluid">
    <div class="row" id="main-row">
        <div class="col-xs-12 col-md-3" id="filter-wrapper">
            <h3 id="filter-head">Refine by</h3>
            <div class="text-left" id="filterSearch-wrapper">
                <div class="accordion panel"></div>
                <div class="accordion panel"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="center-index">
            <div class="col-12 text-center" id="mapBlock">
                <h1 class="text-justify" style="width: 100%";>Map Goes Here</h1>
                <div class="d-block" id="map-wrapper" style="position: relative; overflow: hidden;"></div>
                <div id="directionsPanel"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3" id="sidebar-wrapper">
            <h3 id="sidebar-head">ATM Nearby</h3>
            <div class="col-12" id="cards-wrapper">
                @foreach (var card in Model)
                {
                    // Card Header
                @*<input asp-for="Name" class="form-control" readonly="@(Model.MyCondition ? "readonly" : null )" />*@


                    <p class="@card.LocationId" value="@card.LocationId">@card.LocationId</p>
                    <p class="@card.Name" value="@card.Name">@card.Name</p>
                    <p class="@card.Address" value="@card.Address" label="'+Name+'">@card.Address</p>
                    <p class="@card.Latitude" value="@card.Latitude">@card.Latitude</p>
                    <p class="@card.Longitude" value="@card.Longitude">@card.Longitude</p>

                    // Card Subtitle
                    <p class="@(card.Hours ?? "empty")" value="@(card.Hours ?? "Unknown")">@(card.Hours ?? "Unknown")</p>
                    <p class="@(card.RetailOutlet ?? "empty")" value="@(card.RetailOutlet ?? "Unknown")">@(card.RetailOutlet ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.InstallationType ?? "empty")" value="@(card.SpecialQualities.InstallationType ?? "Unknown")">@(card.SpecialQualities.InstallationType ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.AccessNotes ?? "empty")" value="@(card.SpecialQualities.AccessNotes ?? "Unknown")">@(card.SpecialQualities.AccessNotes ?? "Unknown")</p>

                    // Card List Items
                    <p class="@(card.SpecialQualities.HandicapAccess ?? "empty")" value="@card.SpecialQualities.HandicapAccess" readonly="@(card.SpecialQualities.HandicapAccess ?? "Unknown")">@card.SpecialQualities.HandicapAccess</p>
                    <p class="@(card.SpecialQualities.Surcharge ?? "empty")" value="@(card.SpecialQualities.Surcharge ?? "Unknown")">@(card.SpecialQualities.Surcharge ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.DriveThruOnly ?? "empty")" value="@(card.SpecialQualities.DriveThruOnly ?? "Unknown")">@(card.SpecialQualities.DriveThruOnly ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.AcceptDeposit ?? "empty")" value="@(card.SpecialQualities.AcceptDeposit ?? "Unknown")">@(card.SpecialQualities.AcceptDeposit ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.AcceptCash ?? "empty")" value="@(card.SpecialQualities.AcceptCash ?? "Unknown")">@(card.SpecialQualities.AcceptCash ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.Cashless ?? "empty")" value="@(card.SpecialQualities.Cashless ?? "Unknown")">@(card.SpecialQualities.Cashless ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.SelfServiceDevice ?? "empty")" value="@(card.SpecialQualities.SelfServiceDevice ?? "Unknown")">@(card.SpecialQualities.SelfServiceDevice ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.SelfServiceOnly ?? "empty")" value="@(card.SpecialQualities.SelfServiceOnly ?? "Unknown")">@(card.SpecialQualities.SelfServiceOnly ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.OnMilitaryBase ?? "empty")" value="@(card.SpecialQualities.OnMilitaryBase ?? "Unknown")">@(card.SpecialQualities.OnMilitaryBase ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.MilitaryIdRequired ?? "empty")" value="@(card.SpecialQualities.MilitaryIdRequired ?? "Unknown")">@(card.SpecialQualities.MilitaryIdRequired ?? "Unknown")</p>
                    <p class="@(card.SpecialQualities.RestrictedAccess ?? "empty")" value="@(card.SpecialQualities.RestrictedAccess ?? "Unknown")">@(card.SpecialQualities.RestrictedAccess ?? "Unknown")</p>

                    // Card Footer
                    <p class="@card.Name" value="@card.Name">@card.Name</p>
                    @*<p class="@card.Contacts.Phone" value="@card.Contacts.Phone">@card.Contacts.Phone</p>*@
                    <p class="@card.Address" value="@card.Address">@card.Address</p>
                    <p class="@card.City" value="@card.City">@card.City</p>
                    <p class="@card.State" value="@card.State">@card.State</p>
                    <p class="@card.PostalCode" value="@card.PostalCode">@card.PostalCode</p>
                    @*<p class="@card.Contacts.WebAddress" value="@card.Contacts.WebAddress">@card.Contacts.WebAddress</p>*@
                    <p class="@card.LocationType" value="@card.LocationType">@card.LocationType</p>
                }
            </div>
        </div>
    </div>
</div>
