@model IEnumerable<Locator.Models.Locations>

@{
    ViewData["Title"] = "Index";
}

<!--
    main row is split into three columns
        left-nav        :   Filter-Search Parameters
        center-index    :   Houses the Map
        right-sidebar   :   Location Cards
 -->
<div class="container-fluid">
    <div class="row" id="main-row">
        <div class="col-xs-12 col-md-3" id="filter-wrapper">
            <h3 id="filter-head">Refine by</h3>
            <div class="text-left" id="filterSearch-wrapper">
                <div class="accordion panel"></div>
                <div class="accordion panel"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="center-index">
            <div class="col-12 text-center" id="mapBlock">
                <h1 class="text-justify" style="width: 100%";>Map Goes Here</h1>
                <div class="d-block" id="map-wrapper" style="position: relative; overflow: hidden;"></div>
                <div id="directionsPanel"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3" id="sidebar-wrapper">
            <h3 id="sidebar-head">ATM Nearby</h3>
            <div class="col-12" id="cards-wrapper">
                @foreach (var card in Model)
                {
                    // Card Header
                    @*<input type="text" id="@strElementID" class="@strCSSClass" />*@
                    <p class="@card.LocationId" value="@card.LocationId">@card.LocationId</p>
                    <p class="@card.Name" value="@card.Name">@card.Name</p>
                    <p class="@card.Address" value="@card.Address">@card.Address</p>
                    <p class="@card.Latitude" value="@card.Latitude">@card.Latitude</p>
                    <p class="@card.Longitude" value="@card.Longitude">@card.Longitude</p>

                    // Card Subtitle
                    <p class="@card.Hours" value="@card.Hours">@card.Hours</p>
                    <p class="@card.RetailOutlet" value="@card.RetailOutlet">@card.RetailOutlet</p>
                    <p class="@card.SpecialQualities.InstallationType" value="@card.SpecialQualities.InstallationType">@card.SpecialQualities.InstallationType</p>
                    <p class="@card.SpecialQualities.AccessNotes" value="@card.SpecialQualities.AccessNotes">@card.SpecialQualities.AccessNotes</p>

                    // Card List Items
                    <p class="@card.SpecialQualities.HandicapAccess" value="@card.SpecialQualities.HandicapAccess">@card.SpecialQualities.HandicapAccess</p>
                    <p class="@card.SpecialQualities.Surcharge" value="@card.SpecialQualities.Surcharge">@card.SpecialQualities.Surcharge</p>
                    <p class="@card.SpecialQualities.DriveThruOnly" value="@card.SpecialQualities.DriveThruOnly">@card.SpecialQualities.DriveThruOnly</p>
                    <p class="@card.SpecialQualities.AcceptDeposit" value="@card.SpecialQualities.AcceptDeposit">@card.SpecialQualities.AcceptDeposit</p>
                    <p class="@card.SpecialQualities.AcceptCash" value="@card.SpecialQualities.AcceptCash">@card.SpecialQualities.AcceptCash</p>
                    <p class="@card.SpecialQualities.Cashless" value="@card.SpecialQualities.Cashless">@card.SpecialQualities.Cashless</p>
                    <p class="@card.SpecialQualities.SelfServiceDevice" value="@card.SpecialQualities.SelfServiceDevice">@card.SpecialQualities.SelfServiceDevice</p>
                    <p class="@card.SpecialQualities.SelfServiceOnly" value="@card.SpecialQualities.SelfServiceOnly">@card.SpecialQualities.SelfServiceOnly</p>
                    <p class="@card.SpecialQualities.OnMilitaryBase" value="@card.SpecialQualities.OnMilitaryBase">@card.SpecialQualities.OnMilitaryBase</p>
                    <p class="@card.SpecialQualities.MilitaryIdRequired" value="@card.SpecialQualities.MilitaryIdRequired">@card.SpecialQualities.MilitaryIdRequired</p>
                    <p class="@card.SpecialQualities.RestrictedAccess" value="@card.SpecialQualities.RestrictedAccess">@card.SpecialQualities.RestrictedAccess</p>

                    // Card Footer
                    <p>@card.Name</p>
                    <p>@card.Contacts.Phone</p>
                    <p>@card.Address</p>
                    <p>@card.City</p>
                    <p>@card.State</p>
                    <p>@card.PostalCode</p>
                    <p>@card.Contacts.WebAddress</p>
                    <p>@card.LocationType</p>
                }
            </div>
        </div>
    </div>
</div>
