@model IEnumerable<DatabaseLibrary.Models.Locations>
@*@model IEnumerable<Locator.ViewModels.LocationsViewModel>*@


@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>
<script src="~/js/location.js"></script>

<script type="text/javascript">
    getLocation()
</script>


<!--
    main row is split into three columns
        left-nav        :   Filter-Search Parameters
        center-index    :   Houses the Map
        right-sidebar   :   Location Cards
 -->
<div class="container-fluid">
    <div class="row" id="main-row">
        <div class="col-xs-12 col-md-3" id="filter-wrapper">
            <h3 id="filter-head">Refine by</h3>
            <div id="filterSearch-wrapper">
                <form class="searchField">
                    <fieldset class="filterSearch">
                        <div>
                            <input type="text" class="form-control" name="searchCards" value="" id="keyword_search" placeholder="Search by Keyword" autofocus aria-label="Search Keyword" />
                        </div>
                    </fieldset>
                </form>
                <div class="text-left accordion panel">
                    <div class="panel-header">
                        <a href="#" class="btn-link" id="atm-locations" data-toggle="collapse" data-target="#atm-qualities" aria-expanded="false" aria-controls="atm-qualities">
                            <span class="panelTitleBox">
                                <i class="fas fa-minus"></i><i class="fas fa-plus"></i>
                                <span class="panel-name">Show ATMs With...</span>
                            </span>
                        </a>
                    </div>
                    <div class="panel-body collapse in" id="atm-qualities" aria-expanded="false">
                        <form class="searchField">
                            <fieldset class="filterSearch">
                                <div>
                                    <input type="checkbox" id="Hours" name="24hrs / Business Hours Access" value="24">
                                    <label for="Hours">24 Hour</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="DriveThruOnly" name="Drive Thru Only" value="Y">
                                    <label for="DriveThruOnly">Drive Up</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="Surcharge" name="Surcharge" value="Y">
                                    <label for="Surcharge">Surcharge Free</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="AcceptDeposit" name="Accepts Deposit" value="Y">
                                    <label for="AcceptDeposit">Accepts Deposits</label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="text-left accordion panel">
                        <!-- this accordion functions only below 767px for mobile -->
                        <div class="panel-header">
                            <a href="#" class="btn-link" id="nfc-locations" data-toggle="collapse" data-target="#nfs-qualities" aria-expanded="false" aria-controls="nfs-qualities">
                                <span class="panelTitleBox">
                                    <i class="fas fa-minus"></i><i class="fas fa-plus"></i>
                                    <span class="panel-name">Show Branch Locations With...</span>
                                </span>
                            </a>
                        </div>
                        <div class="panel-body collapse in" id="nfs-qualities" aria-expanded="false">
                            <form>
                                <fieldset class="filterSearch">
                                    @*<div>
                                        <input type="checkbox" id="DriveThruOnly" name="Drive Thru Only" value="Y">
                                        <label for="DriveThruOnly">Drive Up</label>
                                    </div>*@
                                    <div>
                                        <input type="checkbox" id="CoinStar" name="Coin Star" value="Y">
                                        <label for="CoinStar">Coin Star</label>
                                    </div>

                                    <div>
                                        <input type="checkbox" id="TellerServices" name="Teller Services" value="Y">
                                        <label for="TellerServices">Teller Services</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="_24hourExpressBox" name="24 Hour Express Box" value="Y">
                                        <label for="_24hourExpressBox">24 Hour Express Box</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="PartnerCreditUnion" name="Partner Credit Union" value="Y">
                                        <label for="PartnerCreditUnion">Partner Credit Unions</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="MemberConsultant" name="Member Consultant" value="Y">
                                        <label for="MemberConsultant">Meet With a Member Consultant</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="InstantDebitCardReplacement" name="Instant Debit Card Replacement" value="Y">
                                        <label for="InstantDebitCardReplacement">Instant Debit Card Replacement</label>
                                    </div>
                                </fieldset class="filterSearch">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" id="center-index">
            <div class="col-12 text-center" id="mapBlock">
                <h1 class="text-justify" style="width: 100%" ;>Map Goes Here</h1>
                <div class="d-block" id="map-wrapper" style="position: relative; overflow: hidden;"></div>
                <div id="directionsPanel"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3" id="sidebar-wrapper">
            <h3 id="sidebar-head">ATM Nearby</h3>
            <div class="col-12" id="cards-wrapper">
                @*@foreach (var card in Model)*@
                @foreach(var card in Model)
                {
                    @*<p>@card.Name</p>*@

                    <div class="card accordion" id="id-@card.LocationId">
                        <div class="card-header" id="heading-@card.LocationId">
                            <a href="#" class="btn-link" id="button-@card.LocationId" data-toggle="collapse" data-target="#collapse-@card.LocationId" aria-expanded="false" aria-controls="collapse-@card.LocationId">
                                <span class="cardTitleBox">
                                    <i class="fas fa-minus"></i><i class="fas fa-plus"></i>
                                    <span class="Name card-title card-name">@card.Name</span>
                                </span>
                            </a>
                            <p class="address" value="@card.Address">@card.Address</p>
                        </div>
                        <div class="collapse in" id="collapse-@card.LocationId" aria-expanded="false">
                            <div class="card-body">
                                <div class="card-subtitle">
                                    <p class="subTitle Hours @(card.Hours ?? "empty")" value="@(card.Hours ?? "Unknown")">@(card.Hours ?? "Unknown")</p>
                                    <p class="subTitle RetailOutlet @(card.RetailOutlet ?? "empty")" value="@(card.RetailOutlet ?? "Unknown")">@(card.RetailOutlet ?? "Unknown")</p>
                                    <p class="subTitle InstallationType @(card.SpecialQualities.InstallationType ?? "empty")" value="@(card.SpecialQualities.InstallationType ?? "Unknown")">@(card.SpecialQualities.InstallationType ?? "Unknown")</p>
                                    <p class="subTitle AccessNotes @(card.SpecialQualities.AccessNotes ?? "empty")" value="@(card.SpecialQualities.AccessNotes ?? "Unknown")">Notes: @(card.SpecialQualities.AccessNotes ?? "Unknown")</p>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item HandicapAccess @(card.SpecialQualities.HandicapAccess ?? "empty")" value="@(card.SpecialQualities.HandicapAccess ?? "Unknown")">Handicap Access: @(card.SpecialQualities.HandicapAccess ?? "Unknown")</li>
                                    <li class="list-group-item DriveThruOnly @(card.SpecialQualities.DriveThruOnly ?? "empty")" value="@(card.SpecialQualities.DriveThruOnly ?? "Unknown")">Drive Thru Only: @(card.SpecialQualities.DriveThruOnly ?? "Unknown")</li>
                                    <li class="list-group-item Surcharge @(card.SpecialQualities.Surcharge ?? "empty")" value="@(card.SpecialQualities.Surcharge ?? "Unknown")">Surcharge: @(card.SpecialQualities.Surcharge ?? "Unknown")</li>
                                    <li class="list-group-item AcceptDeposit @(card.SpecialQualities.AcceptDeposit ?? "empty")" value="@(card.SpecialQualities.AcceptDeposit ?? "Unknown")">Accepts Deposits: @(card.SpecialQualities.AcceptDeposit ?? "Unknown")</li>
                                    <li class="list-group-item AcceptCash @(card.SpecialQualities.AcceptCash ?? "empty")" value="@(card.SpecialQualities.AcceptCash ?? "Unknown")">Accepts Cash: @(card.SpecialQualities.AcceptCash ?? "Unknown")</li>
                                    <li class="list-group-item Cashless @(card.SpecialQualities.Cashless ?? "empty")" value="@(card.SpecialQualities.Cashless ?? "Unknown")">Cashless: @(card.SpecialQualities.Cashless ?? "Unknown")</li>
                                    <li class="list-group-item CoinStar @(card.SpecialQualities.CoinStar ?? "empty")" value="@(card.SpecialQualities.CoinStar ?? "Unknown")">Accepts Cash: @(card.SpecialQualities.CoinStar ?? "Unknown")</li>
                                    <li class="list-group-item TellerServices @(card.SpecialQualities.TellerServices ?? "empty")" value="@(card.SpecialQualities.TellerServices ?? "Unknown")">Accepts Cash: @(card.SpecialQualities.TellerServices ?? "Unknown")</li>
                                    <li class="list-group-item _24hourExpressBox @(card.SpecialQualities._24hourExpressBox ?? "empty")" value="@(card.SpecialQualities._24hourExpressBox ?? "Unknown")">Accepts Cash: @(card.SpecialQualities._24hourExpressBox ?? "Unknown")</li>
                                    <li class="list-group-item PartnerCreditUnion @(card.SpecialQualities.PartnerCreditUnion ?? "empty")" value="@(card.SpecialQualities.PartnerCreditUnion ?? "Unknown")">Accepts Cash: @(card.SpecialQualities.PartnerCreditUnion ?? "Unknown")</li>
                                    <li class="list-group-item MemberConsultant @(card.SpecialQualities.MemberConsultant ?? "empty")" value="@(card.SpecialQualities.MemberConsultant ?? "Unknown")">Accepts Cash: @(card.SpecialQualities.MemberConsultant ?? "Unknown")</li>
                                    <li class="list-group-item InstantDebitCardReplacement @(card.SpecialQualities.InstantDebitCardReplacement ?? "empty")" value="@(card.SpecialQualities.InstantDebitCardReplacement ?? "Unknown")">Accepts Cash: @(card.SpecialQualities.InstantDebitCardReplacement ?? "Unknown")</li>
                                    <li class="list-group-item SelfServiceDevice @(card.SpecialQualities.SelfServiceDevice ?? "empty")" value="@(card.SpecialQualities.SelfServiceDevice ?? "Unknown")">Self Service Device: @(card.SpecialQualities.SelfServiceDevice ?? "Unknown")</li>
                                    <li class="list-group-item SelfServiceOnly @(card.SpecialQualities.SelfServiceOnly ?? "empty")" value="@(card.SpecialQualities.SelfServiceOnly ?? "Unknown")">Self Service Only: @(card.SpecialQualities.SelfServiceOnly ?? "Unknown")</li>
                                    <li class="list-group-item OnMilitaryBase @(card.SpecialQualities.OnMilitaryBase ?? "empty")" value="@(card.SpecialQualities.OnMilitaryBase ?? "Unknown")">On Military Base: @(card.SpecialQualities.OnMilitaryBase ?? "Unknown")</li>
                                    <li class="list-group-item MilitaryIdRequired @(card.SpecialQualities.MilitaryIdRequired ?? "empty")" value="@(card.SpecialQualities.MilitaryIdRequired ?? "Unknown")">Military ID Required: @(card.SpecialQualities.MilitaryIdRequired ?? "Unknown")</li>
                                    <li class="list-group-item RestrictedAccess @(card.SpecialQualities.RestrictedAccess ?? "empty")" value="@(card.SpecialQualities.RestrictedAccess ?? "Unknown")">Restricted Access: @(card.SpecialQualities.RestrictedAccess ?? "Unknown")</li>
                                </ul>
                            </div>
                            <div class="card-footer contactInfo">
                                <h4 class="card-title contactInfoHeader">Contact Information</h4>
                                <p class="name" value="@card.Name">@card.Name</p>
                                <p class="address" value="@card.Address">@card.Address</p>
                                <p class="city-state-zip">
                                    <span class="city" value="@card.City">@card.City</span>
                                    <span>, </span>
                                    <span class="state" value="@card.State">@card.State </span>
                                    <span class="postalCode" value="@card.PostalCode">@card.PostalCode</span>
                                </p>

                                @******* TODO: Debug: Phone and WebAddress give ERROR: Object reference not set to an instance of an object - Issue in Contacts Model or DB Table ? *********@

                                @*<p class="phone @(card.Contacts.Phone ?? "empty")" value="@(card.Contacts.Phone ?? "empty")">Phone: @(card.Contacts.Phone ?? "empty")</p>
                                    <p class="webAddress @(card.Contacts.WebAddress ?? "empty")" value="@(card.Contacts.WebAddress ?? "empty")">@(card.Contacts.WebAddress ?? "empty")</p>*@


                                <p class="lat" value="@card.Latitude">Latitude: @card.Latitude</p>
                                <p class="lng" value="@card.Longitude">Longitude: @card.Longitude</p>
                                <blockquote class="blockquote my-1 pt-1">
                                    <h5 class="blockquote-footer locationType" value="@card.LocationType">
                                        Location Type: <cite title="@card.LocationType">@card.LocationType</cite>
                                    </h5>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>